<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Tóth Angi Web Sufni</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">		
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rhodium+Libre|Special+Elite">
  </head>

<body>
<div id="preload">
  <img src="../stylesheets/photos/garden.jpg">
  <img src="../stylesheets/photos/ugly.jpg">
  <img src="../stylesheets/photos/vanda.jpg">
  <img src="../stylesheets/photos/light.jpg">
</div>

<main>
  <section id="slide-1" class="homeSlide">
    <div class="bcg" 
      data-center="background-position: 50% 0px;" 
      data-top-bottom="background-position: 50% -100px;" 
      data-anchor-target="#slide-1">
      <div class="hsContainer">
        <div class="hsContent leftContent" 
          data-center="bottom: 200px; opacity: 1" 
          data-top="bottom: 1200px; opacity: 0" 
          data-anchor-target="#slide-1 h5">
              <div class="leftjustified">
                <h5>
                <span class="project">Rólam</span>
                <div class="details">Some details Some details <br>
                  Some details Some details <br>
                  Some details Some details
                </div>
                </h5>
              </div>
        </div>
        </div>
      </div>
</section>

<section id="slide-2" class="homeSlide">
<div class="bcg" 
  data-center="background-position: 50% 10px;" 
  data-top-bottom="background-position: 50% -100px;" 
  data-bottom-top="background-position: 50% 100px;" 
  data-anchor-target="#slide-2"
>
    <div class="hsContainer">
      <div class="hsContent rightContent" 
        data-center="opacity: 1" 
        data-center-top="opacity: 0" 
        data--100-bottom="opacity: 0;" 
        data-anchor-target="#slide-2">
        <h5>
            <a href="#">
              <div class="shake-chunk shake-constant shake-constant--hover">Referencia</div>
            </a>
          </h5>
      </div>
    </div>
</div>
</section>

<section id="slide-3" class="homeSlide">
<div class="bcg" 
  data-center="background-position: 50% 0px;" 
  data-top-bottom="background-position: 50% -100px;" 
  data-bottom-top="background-position: 50% 100px;" 
  data-anchor-target="#slide-3"
>
    <div class="hsContainer">
    <div class="hsContent leftContent" 
      data--50-bottom="opacity: 0;" 
      data--200-bottom="opacity: 1;" 
      data-center="opacity: 1" 
      data-200-top="opacity: 0" 
      data-anchor-target="#slide-3 h5">
      <h5>
        <a href="#">
          <div class="shake-chunk shake-constant shake-constant--hover">Referencia</div>
        </a>
      </h5>
      </div>
    </div>
    
  </div>
</section>

<section id="slide-4" class="homeSlide">
<div class="bcg" 
  data-center="background-position: 50% 0px;" 
  data-top-bottom="background-position: 50% -100px;" 
  data-bottom-top="background-position: 50% 100px;" 
  data-anchor-target="#slide-4"
>
    <div class="hsContainer">
    <div class="hsContent rightContent" 
      data-bottom-top="opacity: 0" 
      data-25p-top="opacity: 0" 
      data-top="opacity: 1"  
      data-anchor-target="#slide-4">
        <h5>
        <a href="#">
          <div>Kapcsolódj / Get in touch</div>
        </a>
      </h5>
      <span>Írj üzenetet, hívj, és egy kávé mellett beszélgessünk a projektedről.
          <a href="LinkedIn" target="blank"><i class="fab fa-linkedin fa-2x"></i></a> <a href="https://www.facebook.com/angi.toth.50" target="blank"><i class="fab fa-facebook fa-2x"></i></a>
          <br>Dolgozzunk együtt <a href="mailto:dandacsapat@gmail.com" target="blank"><i class="fas fa-pencil-alt" title="dandacsapat@gmail.com"></i></a>
      </span>
      </div>
      </div>
    </div>
    
  </div>
</section>

</main>

<script src="js/vendor/modernizr-2.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/imagesloaded.js"></script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>



</body>
</html>