body {
    background-color: #000;
  }
.hidden {
  opacity: 0;
  height: 0px;
  visibility: collapse;
}
  .loading {
    padding-top: 200px;
    text-align: center;
    width: 100%;
    height: 100%;
  }


  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 30px;
  }

  #landing-header h1 {
    color: #fff;
  }

  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url(../stylesheets/Photos/IMAG1651.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(../stylesheets/Photos/IMAG1716.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(../stylesheets/Photos/IMAG1731.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(../stylesheets/Photos/IMAG1854.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(../stylesheets/Photos/IMAG2020.jpg);
    animation-delay: 40s; 
  }
  .slideshow li:nth-child(6) { 
    background-image: url(../stylesheets/Photos/IMAG2064.jpg);
    animation-delay: 50s; 
  }
  .slideshow li:nth-child(7) { 
    background-image: url(../stylesheets/Photos/IMAG2079.jpg);
    animation-delay: 60s; 
  }

.clip-svg {
  width: 0;
  height: 0;
}

#imgprofile {
  width: 280px;
  height: auto;
}

.polygon-clip-hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: url("#polygon-clip-hexagon");
  clip-path: url("#polygon-clip-hexagon");
}


  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}